/*---------------Inheritances-------------*/
/* line 18, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.left-grid img {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16); }

/* line 24, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
footer {
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1); }

/* line 32, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 38, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
body {
  overflow-x: hidden;
  background-color: #fafafaff; }

/* line 44, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
html {
  font-family: sweet-sans-pro, sans-serif; }

/* LOADER / SPINNER */
/* ---------- loader styling ---------- */
/* line 51, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background-color: none;
  text-align: center; }

/* line 63, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.spinner {
  border: 5px solid #484848ff;
  border-radius: 50%;
  border-top: 5px solid #484848ff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* ---------- HIDE ---------- */
/* line 95, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear; }

/* SmykkeMainPage */
/* line 104, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.smykkerouterbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 50px; }

/* line 111, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.leftsmykkebox, .rightsmykkebox {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 40px 5%; }

/* line 119, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.leftsmykkebox {
  margin-top: 80px; }

/* line 123, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.smykkeimgsmall, .smykkeimgbig {
  display: flex;
  justify-content: center;
  margin: 40px 0; }

/* line 128, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.smykkeimgsmall img {
  width: 20%;
  height: auto;
  margin: 0 20px; }

/* line 134, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.smykkeimgbig img {
  width: 70%; }

/* line 138, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.smykkemenu {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  background-image: url(../images/smykkemenu.png);
  background-repeat: no-repeat; }
  /* line 149, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .smykkemenu h4 {
    font-size: 23px; }
  /* line 152, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .smykkemenu ul {
    cursor: pointer;
    list-style: none;
    line-height: 1.6;
    font-size: 20px; }

/* smykkegalleri */
/* line 161, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.overview-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 115px);
  grid-template-rows: 115px;
  grid-gap: 13px; }
  /* line 167, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .overview-grid-container img {
    max-width: 115px;
    max-height: 115px;
    cursor: pointer; }

/* line 175, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.clear1 {
  grid-column: 6;
  grid-row: 1; }

/* line 179, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.clear2 {
  grid-column: 1;
  grid-row: 2; }

/* line 183, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.clear3 {
  grid-column: 5 / 7;
  grid-row: 3; }

/* line 187, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.clear4 {
  grid-column: 1;
  grid-row: 4; }

/* line 191, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.clear4end {
  grid-column: 6;
  grid-row: 4; }

/* Ydre grid */
/* line 197, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.outer-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 45% 20%;
  width: 100%;
  grid-gap: 80px;
  margin-top: 20px; }

/* line 207, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.left-grid img {
  width: 100%; }

/* line 213, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.smykkeh1 {
  font-size: 40px;
  margin-top: 50px;
  text-align: center; }

/* SPA INDSTILLINGER */
/* line 220, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.page {
  display: none;
  min-height: 100vh;
  animation: fadeIn 0.4s; }
  /* line 225, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .page h2 {
    color: #484848ff; }

/* line 231, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.highlighted {
  color: #000000ff;
  font-weight: 800;
  border-bottom: 3px solid #dbbb53ff; }

/* line 238, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  background-color: #fafafaff;
  z-index: 100; }
  /* line 248, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  header p {
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    color: #484848ff;
    line-height: 100%; }
    /* line 255, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
    header p span {
      font-size: 1.2em; }
  /* line 260, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  header .space-around {
    margin: 0px 15px; }
  /* line 266, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  header ul {
    display: flex;
    /* width: 40%;
        justify-content: space-between;
    */
    list-style: none;
    margin-right: 100px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase; }
    /* line 277, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
    header ul a {
      text-decoration: none;
      color: #484848ff; }

/* line 287, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#forside {
  width: 100%;
  height: 100vh;
  position: fixed; }

/* line 293, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.forside-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 100vh;
  grid-gap: 5%;
  align-items: center;
  justify-items: flex-end; }
  /* line 300, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .forside-grid img {
    width: 100%; }

/* line 306, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.first-title {
  margin-left: 20px; }

/* line 310, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.name-display {
  text-align: center; }
  /* line 312, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .name-display p {
    font-size: 1.7em; }
    /* line 314, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
    .name-display p span {
      font-size: 2.3em;
      font-weight: 600;
      color: #484848ff;
      line-height: 100%; }

/* line 323, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#title-output {
  margin-top: 15px;
  animation: pulse 3s infinite; }

/* line 329, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.output-animation {
  margin-top: 15px;
  animation: pulse 3s infinite; }

/* line 334, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#title-output.enabled {
  color: red; }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* line 350, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#silhuet2 {
  width: 18%;
  position: absolute;
  left: 0px;
  bottom: 0px; }

/* line 358, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#texture {
  width: 1000px;
  -webkit-mask-image: url(../images/silhuet-form.svg);
  mask-image: url(../images/silhuet-form.svg); }

/* line 370, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#metteoestberg {
  max-width: 1400px;
  margin: auto; }

/* line 377, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mette-outer-grid {
  display: grid;
  margin: 100px 100px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 100px; }

/* line 385, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#title-output-mette {
  margin-top: 10px;
  animation: pulse 3s infinite; }

/* line 391, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#mette-silhuet {
  position: absolute;
  transform: rotate(-10deg);
  width: 30%;
  z-index: -10;
  right: 50px; }

/* line 399, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mette-name-display {
  margin-left: 30px;
  text-align: center; }
  /* line 402, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .mette-name-display p {
    font-size: 1.0em; }
    /* line 404, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
    .mette-name-display p span {
      font-size: 2.3em;
      font-weight: 600;
      color: #484848ff;
      line-height: 100%; }

/* line 413, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.foto-title {
  display: flex;
  align-items: center;
  height: 30vh; }
  /* line 417, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .foto-title img {
    width: 140px; }

/* line 423, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#uddannelse img {
  width: 100%; }

/* line 428, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mette-promo-smykke {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh; }

/* line 436, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.form-funktion img {
  width: 100%; }

/* line 441, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#mette-koncepter {
  text-align: center; }

/* line 446, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mandalacreate img, .multicircles img {
  width: 80%; }

/* line 449, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mandalacreate a, .multicircles a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600; }

/* line 454, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mandalacreate a:hover, .multicircles a:hover {
  opacity: 0.5; }

/* line 461, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.mandalacreate a {
  color: #17819f; }

/* line 467, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
.multicircles a {
  color: #8ea717; }

/* line 476, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
footer {
  display: none;
  background-color: #ecececff;
  z-index: 10;
  padding: 2vh 0px; }

/* line 484, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#footer-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 60%;
  margin: auto; }
  /* line 491, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  #footer-grid div {
    display: flex;
    flex-direction: column; }
  /* line 496, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  #footer-grid h2 {
    color: #484848ff; }
  /* line 500, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  #footer-grid a {
    text-decoration: none;
    color: #484848ff; }
  /* line 504, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  #footer-grid a:hover {
    opacity: 0.5; }

/* line 509, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#footer-line {
  width: 150px;
  height: 2px;
  margin-top: 7px;
  background-color: #484848ff; }

/* line 516, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
#logo-stempel {
  position: absolute;
  right: 30px;
  margin-top: -50px; }

/*  Responsiv */
@media screen and (max-width: 770px) {
  /* line 527, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .smykkerouterbox {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* line 534, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .leftsmykkebox, .rightsmykkebox {
    width: 90%;
    margin: auto; }
  /* line 539, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .leftsmykkebox {
    margin-top: 40px; }
  /* line 542, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .smykkeimgsmall img {
    width: 30%; }
  /* line 546, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .smykkeimgbig img {
    width: 80%;
    margin: 0; }
  /* line 550, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  .smykkemenu {
    display: none; }
  /* line 555, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  #footer-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 5%;
    text-align: start;
    width: 80%;
    padding: 30px; }
    /* line 562, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
    #footer-grid div {
      display: flex;
      justify-content: center;
      align-items: center; }
  /* line 569, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  #logo-stempel {
    position: absolute;
    right: 40%;
    margin-top: 50px; }
  /* line 575, ../../../../../Documents/Frontend/oestberg/scss/style.scss */
  footer {
    padding-bottom: 100px; } }

/*# sourceMappingURL=style.css.map */