/*---------------Inheritances-------------*/

$background-color: #fafafaff;
$footer: #ecececff;
$text-color: #484848ff;
$highlight: #000000ff;
$gold: #dbbb53ff;


%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%shadow {
    -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

%footer-shadow {
    -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1);
}

/////////////////////////////////////////////

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $background-color;

}

html {
    font-family: sweet-sans-pro, sans-serif;
}


/* LOADER / SPINNER */
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background-color: none;
    text-align: center;
}

.spinner {
    width: 50px;
    animation: coin-spin 2.4s infinite;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


@keyframes coin-spin {

    0%,
    100% {}

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


/* ---------- HIDE ---------- */
.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}


/* ----- Burger menu -------- */

#burgerbar {
    position: fixed;
    top: 0;
    right: -250px;
    background: $text-color;
    width: 230px;
    height: 100%;
    transition: 0.4s;
    @extend %shadow;
    z-index: 10000;

    ul {
        margin: 0;
        padding: 40px 0;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

.active {
    right: 0 !important;
}


// her laver vi den fysiske burgerknap

#burger-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10001;
}

#burger-btn span {
    display: block;
    width: 35px;
    height: 3px;
    background: #252525;
    position: absolute;
    transition: 0.4s;
    border-radius: 3px;
}

// Her koder vi så burgeren bliver til et kryds
// til at lukke for menuen igen.
// dette gør vi ved at animere vores Span elementer
// vi har 4 streger i alt. 2 ovenpå hinanden
// de to ydre strejer forsvinder med opacity 0 transition
// krydset kommer af det 2 streger i midten roterer.
// lidt unødvendigt. Men den er bestemt tilfredsstillende at anvende.

#burger-btn span:nth-child(1) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#burger-btn span:nth-child(2) {
    top: 20px;
}

#burger-btn span:nth-child(3) {
    top: 20px;
}

#burger-btn span:nth-child(4) {
    top: 30px;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#burger-btn.open span:nth-child(1) {
    opacity: 0;
    background: white;
}

#burger-btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
}

#burger-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: white;
}

#burger-btn.open span:nth-child(4) {
    opacity: 0;
    background: white;
}


/* SmykkeMainPage */

.smykkerouterbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 50px;

    img {}
}

.leftsmykkebox,
.rightsmykkebox {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 40px 5%;

}

.leftsmykkebox {
    margin-top: 80px;
}

.smykkeimgsmall,
.smykkeimgbig {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}


.smykkeimgsmall img {
    max-width: 25%;
    height: auto;
    margin: 0 30px;
}

.smykkeimgbig img {
    width: 70%;
}


.smykkemenu {
    display: none;
    position: fixed;
    color: $text-color;
    justify-content: flex-end;
    padding-bottom: 12vh;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 25%;
    background-image: url(../images/silhuet-smykke-menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    right: 0;
    top: 15vh;
    z-index: 22;

    a {
        color: $text-color;
        text-decoration: none;
    }


    h4 {
        font-size: 1.7em;
    }

    ul {
        cursor: pointer;
        list-style: none;
        line-height: 1.6;
        font-weight: 600;
        font-size: 1.5em;
    }
}

/* smykkegalleri */
#smykke-oversigt {
    margin-top: 6vh;
    max-width: 1920px;
    margin: auto;
}

.overview-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 115px);
    grid-template-rows: 115px;
    grid-gap: 13px;
    justify-content: flex-end;

    img {
        max-width: 115px;
        max-height: 115px;
        cursor: pointer;
    }
}


.clear1 {
    grid-column: 6;
    grid-row: 1;
}

.clear2 {
    grid-column: 1;
    grid-row: 2;
}

.clear3 {
    grid-column: 5 / 7;
    grid-row: 3;
}

.clear4 {
    grid-column: 1;
    grid-row: 4;
}

.clear4end {
    grid-column: 6;
    grid-row: 4;
}

/* Ydre grid */
.outer-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px minmax(0, 1fr) 25%;
    padding: 2.5%;
    width: 100%;
    grid-gap: 2.5%;
    margin-top: 20px;
    padding-bottom: 10vh;
}

.left-grid {
    img {
        width: 100%;
        @extend %shadow;
    }
}

.smykkeh1 {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

/* SPA INDSTILLINGER */
.page {
    display: none;
    min-height: 100vh;
    animation: fadeIn 0.4s;

    h2 {
        color: $text-color;
    }
}


.highlighted {
    color: $highlight;
    font-weight: 800;
    border-bottom: 3px solid $gold;
}

// TOP NAV
header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background-color: $background-color;
    z-index: 100;

    p {
        margin-left: 100px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2em;
        color: $text-color;
        line-height: 100%;


        span {
            font-size: 1.2em;
        }

        a {
            text-decoration: none !important;
            color: $text-color;
        }
    }

    .space-around {
        margin: 0px 15px;
    }



    ul {
        display: flex;
        /* width: 40%;
        justify-content: space-between;
    */
        list-style: none;
        margin-right: 100px;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: $text-color;

        }

    }
}

// --------- FORSIDE -----------//
#forside {
    width: 100%;
    height: 100vh;
}


.forside-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 100vh;
    grid-gap: 5%;
    align-items: center;
    justify-items: flex-end;

    img {
        width: 100%;
    }
}


.first-title {
    margin-left: 20px;
}

.name-display {
    text-align: center;

    p {
        font-size: 1.7em;

        span {
            font-size: 2.3em;
            font-weight: 600;
            color: $text-color;
            line-height: 100%;
        }
    }
}

#title-output {
    margin-top: 15px;
    animation: pulse 3s infinite
}

.output-animation {
    margin-top: 15px;
    animation: pulse 3s infinite
}

#title-output.enabled {
    color: red;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#silhuet2 {
    width: 18%;
    position: absolute;
    left: 0px;
    bottom: 0px;

}

#texture {
    width: 1000px;
    -webkit-mask-image: url(../images/silhuet-form.svg);
    mask-image: url(../images/silhuet-form.svg);


}



///----------------------METTE ØSTBERG-------------------///

#metteoestberg {
    max-width: 1400px;
    margin: auto;


}

.mette-outer-grid {
    display: grid;
    margin: 100px 100px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 100px;
}


#title-output-mette {
    margin-top: 10px;
    animation: pulse 3s infinite;

}

#mette-silhuet {
    position: absolute;
    transform: rotate(-10deg);
    width: 30%;
    z-index: -10;
    right: 50px;
}

.mette-name-display {
    margin-left: 30px;
    text-align: center;

    p {
        font-size: 1.0em;

        span {
            font-size: 2.3em;
            font-weight: 600;
            color: $text-color;
            line-height: 100%;
        }
    }
}

.foto-title {
    display: flex;
    align-items: center;
    height: 30vh;

    img {
        width: 140px;
    }
}

#uddannelse {
    img {
        width: 100%;
    }
}

.mette-promo-smykke {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
}

.form-funktion {
    img {
        width: 100%;
    }
}

#mette-koncepter {
    text-align: center;
}

.mandalacreate,
.multicircles {
    img {
        width: 80%;
    }

    a {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 600;
    }

    a:hover {
        opacity: 0.5;
    }
}


.mandalacreate {
    a {
        color: #17819f;
    }
}

.multicircles {
    a {
        color: #8ea717;
    }
}

#mette-silhuet-bottom-left {
    position: fixed;
    left: 0;
}

#mette-silhuet-bottom-right {
    position: fixed;
    right: 0;
    z-index: -10;
}

///----------------------FOOTER-------------------///

footer {
    background-color: $footer;
    z-index: 20;
    @extend %footer-shadow;
    padding: 2vh 0px;
}

#footer-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 60%;
    margin: auto;

    div {
        display: flex;
        flex-direction: column;
    }

    h2 {
        color: $text-color;
    }

    a {
        text-decoration: none;
        color: $text-color;
    }

    a:hover {
        opacity: 0.5;
    }
}

#footer-smykke-items {
    list-style: none;
}

#footer-line {
    width: 150px;
    height: 2px;
    margin-top: 7px;
    background-color: $text-color;
}

#logo-stempel {
    position: absolute;
    right: 30px;
    margin-top: -50px;
}

/* -------- kontakt -------- */
#kontakt {
    min-height: 0;
    height: 90vh;
}

.kontaktouterbox {
    margin-top: 10vh;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.kontakt-left,
.kontakt-right {
    width: 40%;
    margin: 2% 5% 0 5%;

    ul {
        list-style: none;
        font-size: 20px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 30px;
    }

    p {
        width: 80%;
        font-size: 20px;
    }
}

.kontakt-right {
    h2 {
        margin-top: 25px;
    }
}


.kontakt-right img {
    width: 65%;
}


.kontaktsil {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    z-index: -10;
}

.kontaktleftsil img {
    position: absolute;
    right: -400px;
    top: 0;
    width: 40%;
}


/*  Responsiv */

@media only screen and (min-width: 770px) {

    #burger-btn,
    #burgerbar {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
    .overview-grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        img {
            margin: 6.5px;
        }
    }

    .clear1,
    .clear2,
    .clear3,
    .clear4,
    .clear4end {
        display: none;
    }

    .left-grid {
        margin-top: 6.5px;
    }

}

@media screen and (max-width: 840px) {
    .smykkemenu {
        background-color: $footer;
        background-image: url();
        width: 100%;
        height: auto;
        padding: 10px 5px;
        top: 6vh;

        h4 {
            font-size: 1.4em;
        }

        #smykke-menu-items {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            font-size: 1em;

            li {
                margin: 0px 10px;

            }

        }
    }

    .outer-grid-container {
        display: grid;
        grid-template-columns: 300px minmax(0, 1fr);

    }

    .smykkerouterbox {
        margin-top: 10vh;
    }
}

@media screen and (max-width: 770px) {

    .navbar {
        display: none;
    }

    // smykker

    .smykkerouterbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }


    .leftsmykkebox,
    .rightsmykkebox {
        width: 90%;
        margin: auto;
    }

    .leftsmykkebox {
        margin-top: 40px;
    }

    .smykkeimgsmall img {
        width: 30%;

    }

    .smykkeimgbig img {
        width: 80%;
        margin: 0;
    }

    .smykkemenu {
        background-color: $footer;
        background-image: url();
        width: 100%;
        height: auto;
        padding: 5px 5px;


        h4 {
            font-size: 1.4em;
        }

        #smykke-menu-items {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            font-size: 1em;

            li {
                margin: 0px 10px;

            }

        }
    }

    // footer
    #footer-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-row-gap: 5%;
        text-align: start;
        width: 80%;

        padding: 30px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #logo-stempel {
        position: absolute;
        right: 40%;
        margin-top: 50px;
    }

    footer {
        padding-bottom: 100px;
    }

    // forside

    header {

        p {
            margin: 12px auto;
            font-size: 20px;
        }
    }

    // kontakt

    .kontakt-left,
    .kontakt-right {

        width: 90%;

        h2 {
            font-size: 19px;
        }

        p {
            font-size: 15px;
            margin: 0;
            width: 100%;
        }

        ul {
            font-size: 16px;
        }

        img {
            width: 100%;
        }

    }

    .kontaktsil,
    .kontaktleftsil {
        display: none;
    }

    .kontaktouterbox {
        flex-direction: column;
        justify-content: center;
        margin: 50px 0;
    }

    #kontakt {
        height: auto;
        margin: 60px 0;
    }


    // Forside

    #forside {
        min-height: 0;
        height: 94vh;
    }

    .forside-grid {
        margin-top: 50px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: 30vh;
        grid-gap: 0;
        justify-items: center;
    }

    .name-display {
        text-align: center;

        p {
            font-size: 1.4em;

            span {
                font-size: 2em;
            }
        }
    }

    .first-title {
        margin-left: 0;
    }


    // Mette Oestberg

    #metteoestberg {
        max-width: 90%;
        margin: auto;
    }

    .mette-outer-grid {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
        margin-right: 0;
        margin-bottom: 0;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 10px;
        justify-content: center;

        p {
            font-size: 13px;
        }
    }

    .first-title-mette {
        font-size: 0.5em !important;
    }

    .mette-name-display {
        width: 190px;
    }

    .mette-promo-smykke {
        align-items: center;
        height: 20vh;
    }

    .mandalacreate img,
    .multicircles img {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .overview-grid-container {
        justify-content: center;
    }

    .outer-grid-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }


    .smykkeh1 {
        margin-top: 140px;
    }

    .left-grid {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }

}